<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeCoreProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css1/main.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">

                <h1 class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-address-card"></i> EmployeeProject</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between collapse navbar-collapse">
                    <div class="navbar-nav ms-auto py-0">
                    </div>
                    <a asp-controller="Emp" asp-action="LogOut" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block" style="margin-right:20px">LogOut <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
          @*  <div class="overlay"></div>*@
            <div class="spanner">
                <div class="loader"></div>
            </div>
        </main>
    </div>

    <footer @*class="border-top footer text-muted"*@>
        <div class="container">
            <div class="footer ">

                &copy; 2022 - EmployeeCoreProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">@User.Identity.Name</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

